# CodeIgniter 4 .gitignore

# --------------------------------------------------------------------
# Environment Files
# --------------------------------------------------------------------
.env
env

# --------------------------------------------------------------------
# System Files
# --------------------------------------------------------------------
vendor/
writable/
public/uploads/

# --------------------------------------------------------------------
# Build and IDE Files
# --------------------------------------------------------------------
builds/
.phpunit.result.cache
.vscode/
.idea/

# --------------------------------------------------------------------
# Temporary Files
# --------------------------------------------------------------------
gule_temp/
